<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #fff; 
      color: #000; 
      margin: 0;
      padding: 0;
    }
    .navbar {
      background-color: #fff; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-toggler {
      border-color: #fff;
      background-color: transparent !important;
    }
    .navbar-toggler-icon {
      background-color: #fff;
    }
    .navbar-nav {
      margin-left: auto;
    }
    .navbar-nav .profile-link {
      color: #000;
      margin: 0 10px;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
       display: block;
    }
    .navbar-nav .profile-link:hover {
      background-color: #555;
    }

    .navbar-brand {
      font-family: 'Georgia', serif;
      font-size: 24px;
      color: #000;
    }
  </style>
  <title></title>
</head>
<body>

<nav class="navbar navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<% if user_signed_in? %>
  <div class="d-flex align-items-center ml-auto">
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-link text-center', style: "color: #ff9999;" %>
    <%= link_to personal_information_path(current_user) do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle me-2" viewBox="0 0 16 16" style="color: gray;">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
    <% end %>
  </div>
<% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= home_path %>">Home</a>
          <a class="nav-link" href="<%= items_path %>">Shop</a>
          <a class="nav-link" href="<%= wishlists_path %>">Wishlist</a>
          <a class="nav-link" href="<%= carts_path %>">Cart</a>
          <a class="nav-link" href="<%= orders_path %>">Orders</a>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <a class="nav-link" href="<%= products_path %>">Your Products</a>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>


</body>
</html>

         
   
    

