<h1 class="display-4">Order Details</h1>

<p>Order ID: <%= @order.id %></p>
<p>User Email: <%= @order.user.email %></p>

<h2 class ="mt-4">Products in this Order</h2>

<% @order.products.each do |product| %>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{product.name}", item_path(product), class: 'btn btn-outline-secondary' %></h5>
      <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
      <p class="card-text">Description: <%= product.description %></p>
      <% if product.image.present? %>
        <%= image_tag product.image, class: "card-img-top", alt: product.name, style: "height: 300px; width: auto;" %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="mt-4">
<% if @order.return.nil? %>
  <%= link_to 'Initiate Return', new_order_return_path(@order), class: "btn btn-primary mr-2" %>
<% else %>
  <p>Return Request Submitted</p>
<% end %>



