<h1>Shop</h1>

<div class="filter-options mb-3">
  <%= link_to "Filter by Food", items_path(category: 'food', price: params[:price]), class: "btn btn-primary mr-2" %>
  <%= link_to "Filter by Toy", items_path(category: 'toy', price: params[:price]), class: "btn btn-primary mr-2" %>
  <%= link_to "Sort by Price (Low to High)", items_path(category: params[:category], price: 'asc'), class: "btn btn-primary mr-2" %>
  <%= link_to "Sort by Price (High to Low)", items_path(category: params[:category], price: 'desc'), class: "btn btn-primary mr-2" %>
  <%= link_to "Clear Filters", items_path, class: "btn btn-secondary" %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 300px; height: 375px; cursor: pointer;" onclick="window.location='<%= item_path(product) %>';">
        <% if product.image.present? %>
          <%= image_tag product.image, class: "card-img-top", alt: product.name, style: "height: 300px; width: auto;" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">Price: <%= number_to_currency(product.price, precision: 2) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
