<div class="row">
  <div class="col-md-8">
    <!-- Your existing content -->
    <h1><%= @product.name %></h1>

    <div>
      <strong>Description:</strong>
      <p><%= @product.description %></p>
    </div>

    <div>
      <strong>Price:</strong>
      <p><%= number_to_currency(@product.price) %></p>
    </div>

    <%= image_tag @product.image, class: "card-img-top", alt: @product.name, style: "height: 400px; width: 300px;" %>

    <%= bootstrap_form_with(model: Cart.new, url: carts_path, local: true) do |form| %>
      <%= form.hidden_field :product_id, value:  @product.id %>

      <div class="field">
        <%= form.number_field :quantity %>
      </div>

      <div class="actions">
        <%= form.submit 'Add to Cart' %>
      </div>
    <% end %>

    <%= bootstrap_form_with(model: WishlistItem.new, url: wishlists_path, local: true) do |form| %>
      <%= form.hidden_field :product_id, value:  @product.id %>

      <div class="field">
        <%= form.number_field :quantity %>
      </div>

      <div class="actions">
        <%= form.submit 'Add to Wishlist' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-4 mt-md-auto text-md-end">
    <%= link_to 'Back to Products', products_path, class: 'btn btn-secondary' %>
  </div>
</div>