<div class="row">
  <div class="col-md-8">
    <div class="product-details">
      <h1><%= @product.name %></h1>

      <div class="description">
        <strong>Description:</strong>
        <p><%= @product.description %></p>
      </div>

      <div class="price">
        <strong>Price:</strong>
        <p><%= number_to_currency(@product.price) %></p>
      </div>

      <% if @product.image.present? %>
        <%= image_tag @product.image, class: "img-fluid", alt: @product.name %>
      <% end %>

      <%= bootstrap_form_with(model: Cart.new, url: carts_path, local: true) do |form| %>
        <%= form.hidden_field :product_id, value: @product.id %>

        <div class="quantity-field form-group">
          <%= form.number_field :quantity, value: 1, min: 1, class: "form-control", id: "shared_quantity" %>
        </div>

        <div class="actions">
          <%= form.submit 'Add to Cart', class: 'btn btn-primary', onclick: "updateQuantity('shared_quantity')" %>
        </div>
      <% end %>

      <%= bootstrap_form_with(model: WishlistItem.new, url: wishlists_path, local: true) do |form| %>
        <%= form.hidden_field :product_id, value: @product.id %>
        <div class="actions">
          <%= form.submit 'Add to Wishlist', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2 mt-md-auto text-md-start">
    <%= link_to 'Back to Shop', items_path, class: 'btn btn-secondary' %>
  </div>
</div>

<h3> Reviews </h3>

<% if current_user.present? %>
  <% if current_user.bought?(@product) %>
    <%= link_to 'Add Your Review', review_new_path(@product), class: 'btn btn-secondary' %>
  <% else %>
    <p>You need to buy this item to leave a review.</p>
  <% end %>
<% else %>
  <p>Login or sign up to leave a review.</p>
<% end %>

<% if @product.review.present? %>
  <p> Average Rating: <%= @product.average_rating %> </p>
  <% @product.review.each do |review| %>
    <p> _________________________</p>
    <p> <%= review.user.full_name %> | Rated <%= review.rating %>/5 </p>
    <p> <%= review.text %> </p>
    <% if review.user == current_user %>
      <%= link_to 'Edit?', review_edit_path(review), class: 'btn btn-outline-secondary btn-secondary', form: { class: 'd-inline' } %>
      <%= button_to 'Destroy?', review_destroy_path(@product, review), method: :delete, data: { turbo: false }, class: 'btn btn-outline-secondary btn-warning', form: { class: 'd-inline' } %>
    <% end %>
  <% end %>
<% else %>
  <p>No reviews for this product.</p>
<% end %>

