<% if @wishlist_item.errors.any? %>
  <div " alert alert-danger" role="alert" >
<h4 class="alert-heading"><%= pluralize(@wishlist_item.errors.count, "error") %> prohibited this wishlist item from being saved:</h4>
    <ul>
      <% @wishlist_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<% if @wishlists.present? %>
  <h2>Wishlist Items</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @wishlists.each do |wishlist_item| %>
        <tr>
          <td><%= wishlist_item.product.name %></td>
          
          <td><%= wishlist_item.product.price %></td>
          <td>
            <% if wishlist_item.present? %>
              <%= link_to 'Edit', edit_wishlist_path(wishlist_item), class: 'btn btn-sm btn-primary mr-2' %>
              <%= button_to "Delete", wishlist_path(wishlist_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No wishlist items.</p>
<% end %>

<%= link_to 'Checkout', checkout_path, class: 'btn btn-success checkout-btn' %>
