<!-- app/views/carts/show.html.erb -->

<h1>Whislist Item Details</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <!-- Add other columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @wishlist_item.product.name %></td>
      <td><%= @wishlist_item.quantity %></td>
      <td><%= number_to_currency(@wishlist_item.product.price) %></td>
      <td><%= number_to_currency(@wishlist_item.quantity * @wishlist_item.product.price) %></td>
      <!-- Add other cells as needed -->
    </tr>
  </tbody>
</table>

<%= link_to 'Back to Cart', carts_path, class: 'btn btn-primary' %>
