<h1> Edit Product: <%= @product.name %> </h1>

<%= bootstrap_form_with model: @product, method: :patch, url: product_path(@product), data: { turbo: false } do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.text_field :category %>
  <%= f.number_field :price %>
  <%= f.file_field :image %>
  <%= f.check_box :available %>
  <%= f.submit%>
<% end %>
