<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>
    <% if flash[:notice].present? && flash[:notice] == 'Account deleted successfully.' %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
